<%# also add the ability to shout out on restaurant page%>

<h1><%= restaurant.name %></h1>

<%# Carousel %>

<%# counter of shoutouts can be the length of the images array%>
<div class="row">
<div class="col s6">
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="<%= restaurant.images %>"></a>
  </div>
</div>
<div class="col s6">
  <h4><%= restaurant.location %></h4>
  <h4><%= restaurant.cuisine %></h4>
  <h4><%= restaurant.createdBy.username %></h4>

  <%# Other info from google%>
</div>


</div>
